@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css');

.carousel-container {
    overflow: hidden; 
    height: 440px;
}

.movie-card-container {
    width: 90% !important;
    max-width: 90% !important;
    margin: 0 auto; 
    text-align: center;
}

.movie-slide-title {
    text-align: left;
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
    .carousel-container {
        overflow: hidden; 
        height: 250px;
        margin-top: 10px;
        margin-bottom: 20px;
        border-radius: 10px;
    }
  }