@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css');

.movie-card {
    width: 220px;
    height: 330px;
    background-size: cover;
    cursor: pointer;
    transition: 0.5s;
    position: relative; /* Ensure z-index takes effect */
    z-index: 1; /* Default z-index for all cards */
    overflow: visible; /* Ensure overflow is visible */
    border-radius: 10px;
    margin: 5px;
}

.movie-card:hover {
    transform: scale(1.2) translateZ(20px);
    border-radius: 10px;
    z-index: 2;
}

.movie-card-info {
    width: 100%;
    height: 100%;
    background: rgba(43, 41, 41, 0.9);
    opacity: 0;
    transition: all 1s;
    color: white;
    font-weight: 500;
    overflow-wrap: break-word;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 10px;
}

.movie-card-info:hover {
    opacity: 1;
    border-radius: 10px;
}

.movie-card-title {
    font-size: 2.4rem;
    text-align: center;
    letter-spacing: -0.5px; 
    line-height: 1; 
    margin-top: 15px;
}

.movie-card-badge-container {
    display: flex;
    flex-wrap: wrap; 
    gap: 5px; 
    margin-bottom: 10px; 
    font-size: 1rem;
}

.movie-card-badge {
    margin-right: 0; 
}

.movie-card-txt {
    padding: 10px;
    font-size: 1rem;
    text-align: left;
    letter-spacing: -0.5px; 
    line-height: 1.5; 
    margin-top: auto;
}

.movie-card-ico-vote {
    margin-right: 8px;
    color: rgb(249, 195, 1)
}

.movie-card-ico-fire {
    margin-right: 5px;
    color: rgb(181, 0, 0)
}

.movie-card-ico-user {
    margin-right: 5px;
    color: rgb(249, 195, 1)
}

@media (max-width: 768px) {
    .movie-card {
        width: 150px;
        height: 200px;
        background-size: cover;
        cursor: pointer;
        transition: 0.5s;
    }

    .movie-card-title {
        font-size: 1.5rem;
        text-align: center;
        letter-spacing: -0.5px; 
        line-height: 1; 
        margin-top: 10px;
    }

    .movie-card-badge-container {
        display: flex;
        flex-wrap: wrap; 
        gap: 3px; 
        font-size: 0.7rem;
    }

    .movie-card-info {
        padding: 5px;
    }

    .movie-card-txt > div {
        font-size: 0.8rem;
    }
    
    .movie-card-ico-vote,
    .movie-card-ico-fire {
        margin-right: 8px;
        font-size: 0.8rem;
    }

    .movie-card-ico-user {
       margin-right: 2px;
       font-size: 0.8rem;
    }
}