@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css');

.navbar-container .nav-link {
  color: white !important; 
}

.navbar-container .nav-link:hover, .nav-link.disabled {
  color: rgb(182, 181, 181) !important;
}

.dark-search {
    background-color: #6f6f6f; 
    color: #fff; 
    border-color: #444; 
  }


@media (max-width: 768px) {
  .navbar-container{
    padding: 5px 15px;
  }

  .lang-dropdown {
      display: none;
  }

  .nav-membership {
    display: none !important;
  }

  .search-area {
    margin-bottom: 10px;
  }
}